<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="ExamScheduleServer"
     connectionString="Server=192.168.50.90,1433;
                       Database=ExamScheduleDB;
                         User ID=ExamAppUser;
                         Password=0hqJuoAtJn4FmChU0Kss;
                         TrustServerCertificate=True;
                         Encrypt=False;
                         Application Name=ExamScheduleApp;
                         Pooling=True;
                         Max Pool Size=100;
                         Connect Timeout=30;"
       providerName="System.Data.SqlClient" />
		<add name="SQLiteConnection" 
			 connectionString="Data Source=|DataDirectory|Data\ExamScheduleDB.db;Version=3;" 
			 providerName="System.Data.SQLite" />
	</connectionStrings>
	<system.data>
		<DbProviderFactories>
			<remove invariant="System.Data.SQLite" />
			<add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
		</DbProviderFactories>
	</system.data>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SQLite" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.115.0" newVersion="1.0.115.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<appSettings>
		<add key="DatabasePath" value="\\\\192.168.50.90\\NetDB\\ExamScheduleDB.db"/>
	</appSettings>
</configuration>